/* 
Primary dark color: Prussian Blue       #000832
Primary medium color: Gray Slate        #335460
Primary light color: Pale Sky           #b2cad2
Secondary light color: Cotton Rose      #ecc9c7
Text color: white or prussian blue      #ffffff

membership colors: 
#f4edcd - gold
#ebebeb - silver
#e8e5d9 - np member
#e8dbd9 - bronze

Font Family: ___Using Noto Sans from Google fonts 
*/

* {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    color: #000832;
}

body {
    color: #000832;
    background: linear-gradient(
    to top,
    #ecc9c7, 15%,
    #335460, 50%,
    #000832
  );
    padding: 2%;
    min-height: 20rem;
    
}

/* ************* all button like behavior ************* */
.hamburger,
.navigation a,
#list-btn,
#grid-btn,
.hero-btn,
.social a,
.join-form input[type="submit"],
#closeButton,
.learn-more {
    background: #ecc9c7;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: transform 0.2s ease;
    cursor: pointer;
    color: #000832;
    border-radius: 15px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: none;
}

/* ************* all hovering button like behavior ********** */

.hamburger:hover,
.navigation a:hover,
#list-btn:hover,
#grid-btn:hover,
.hero-btn:hover,
.join-form input[type="submit"]:hover,
.learn-more:hover,
#closeButton:hover,
.social a:hover {
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px);
}

/***************************** header ****************************/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px 10px 5px 10px;
    align-items: end;
    column-gap: 8px;
}

header img {
    place-self: start;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    place-self: start;
    color: #ffffff;
    background-color: #000832;
}

/***************************** hamburger navigation *****************************************/

.hamburger {
    padding: 8px;
    line-height: 1;
    place-self: start;
}

.hamburger:active {
    transform: translateY(0);         
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
    width: 29px;
}

.hamburger.show::after {
    content: "\00D7";
    width: 29px;
}

/***************************************** navigation ***********************************************/

.navigation {
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation.show ul {
    flex-direction: column;
    align-items: flex-end;
}

.navigation a {
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    margin: .5rem 0 0 0;
}

.navigation a.current {
    background: #ffffff;
}

.navigation a:active {
    transform: translateY(0);         
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.navigation.show a { 
    min-width: 150px;
}

/************************* H1 ***************************************8*/

h1 {
    padding: .5rem 1rem;
    border-radius: 4px; 
    background-color: #b2cad2;
    font-size: 1.5rem;
    font-weight: bold;
}

/* ****************toggle buttons for list and grid directory********************* */

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#list-btn, #grid-btn {
    padding: 13px;
    line-height: 1;
    margin: 0 1rem 1rem;
}

#list-btn:active, #grid-btn:active {
    transform: translateY(0);      
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

/* *************************this is how to wrap the cards and be responsive to screen size without expanding beyond the viewport */

/* this prevents shifting */
#directory-container {
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 0.75rem;
}

/****************** styling for all cards *********************/

.card {
    background: #ffffff;
    color: #000832;
    border-radius: 4px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0,0,0,0.20);
}

.card .name {
    text-align: center;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #b2cad2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-size: 1.1rem;
    font-weight: 600;
}

.card p {
    margin: 0;
    line-height: 1.4;
    font-size: 0.9rem;
}

.card a {
    color: #000832;
    font-weight: 600;
    text-decoration: none;
}

.badge-phone-block {
    display: flex;
    justify-content: space-between;
}

/* ***** hover over link to underline **** */

.card a:hover, .line a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ***** image in card***** */

.image {
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 0 0px 12px rgba(0,0,0,0.20);
    width: 100%;
    height: auto;
}

/* *************************this is how to wrap the list and be responsive to screen size without expanding beyond the viewport */

.list ul {
    background-color: #ffffff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

/****************** styling for all lines in the list *************/

.line  {
    display: flex;
    margin: 0;
    line-height: 1.4;
    font-size: 0.9rem;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.line > .name { flex: 1; }
.line > .address { flex: 2; }  
.line > .phone { flex: 1.5; }   
.line > a { flex: 1; }

.line:nth-child(odd) {
    background: #b2cad2;   
}

.line:nth-child(even) {
    background-color: #ffffff;   
}

.line .name {
    font-size: 1.1rem;
    font-weight: 600;
}

.line .name-block {
    width: 400px;
}

.line a {
    color: #000832;
    font-weight: 600;
    text-decoration: none;
}

/* ******************* badge for membership level ********************************* */

.badge {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0 auto;
    text-align: center;
    width: 75px;
}

.badge.member, #np {
    background: #E8E5D9;
}

.badge.silver, #silver {
    background: #EBEBEB;
}

.badge.gold, #gold {
    background: #F4EDCD;
}

/* ********************hero call to action ************************************* */

.hero {
    position: relative;
}
.hero-img {
    width: 100%;
    height: auto;
    border-radius: 4px; 
    display: block;
}

.hero picture {
    width: 100%;
    height: 100%;
    display: block;
}

.hero-btn {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    text-align: center;
    padding: 13px;
 }

.hero-btn a {
    text-decoration: none;
}

/* **************************current container**************************** */

.current {
    margin-top: 2rem;
}
.events {
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.events li {
    padding: .3rem;
}

.weather {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
    gap: 1rem;
}

.forecast-weather-container, .current-weather-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
    margin-top: 1rem;
    border-radius: 4px;
}

h2 {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #b2cad2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-size: 1rem;
    font-weight: 700;
    width: auto;
    min-width: 152px;
    margin: 1rem auto;
    text-align: center;
}

.weather-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 10px;  
    background-color: #ffffff;
    border-radius: 4px;
    min-height: 175px;

}

.weather-date,
.weather-caption-description {
    grid-column: 1 / 3;
    margin: 0;
    text-align: center;
    font-size: 1rem;
}

.weather-temp {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    justify-self: end;
    margin: 0;
}

.weather-icon {
    grid-column: 2;
    grid-row: 2;
    width: 3rem;
    height: 3rem;
    justify-self: start;
    align-self: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    background-color: #b2cad2;
    border-radius: 4px;
}

/* *********************spotlight********************* */

.spotlight {
    border-radius: 4px;
    margin-top: 2rem;
}

.spotlights-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 0.75rem;
}

/* ***************** join form ******************************************* */


#form-section,
#animated-section {
    display: grid;
    justify-self: center;
}

.join-form fieldset {
    border: none;
    border-radius: 4px;
    padding: .5rem 2%;
}

.join-form label {
    display: block;
    padding-top: 1rem;
    color: #ecc9c7;
}

.join-form div {
    padding: .5rem;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    background-color: #000832;
    width: max-content;
    border-radius: 4px;
    margin: 0 auto;
}

.join-form input[type="text"],
.join-form input[type="tel"],
.join-form input[type="email"],
.join-form input[type="number"],
.join-form textarea {
    background-color: #ffffff;
    display: block;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    margin-top: 1%;
    font-size: 1rem;
}

.join-form input[type="radio"] {
    margin-right: 6px;
    border: 2px solid #b2cad2;
}

.join-form input[type="submit"]{
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 2% 2% 2rem 2%;
}

.join-form input:required,
.join-form textarea:required {
    border-left: solid 8px #ecc9c7;
}

.join-form input:required:valid, 
.join-form textarea:required:valid {
    border-left: solid 8px #b2cad2;
}

/****************** styling for animated cards */

.animated-card {
    color: #000832;
    border-radius: 4px;
    padding-bottom: .25rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    margin: 1.5rem; 
    max-width: 270px;
    animation-duration: 3s;
    animation-name: slide-in;
}

.animated-card .name {
    text-align: center;
    font-size: 1.1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
}

.learn-more {
    padding: 0.25rem 0.5rem;
    margin: .5rem auto;
    
}

#bronze {
    background: #e8dbd9;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/***************************** modal or dialog styling*********/

dialog {
  border-radius: .35rem;
  padding: 1rem;
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 600px;
  border: none;
}

::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

dialog button {
  position: absolute;
  top: 23px;
  right: 23px;
  padding: .5rem 1rem;
}

#popup .name {
    padding: 1rem;
    padding-right: 6rem;
    margin-top: 0;
}

/* ***************** discover page *************** */

.visit-tracker {
    color:#ffffff;
    font-size: larger;
    grid-area: item0;
    justify-self: center;
    margin: 1rem;
    font-size: 1.5rem;
}
    
#interest-container {
    display: grid;
    grid-template-areas:
        "item0"
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8"
        "item9";
}



.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }
.item8 { grid-area: item8; }

.icon-container { 
    grid-area: item9;
    width: 80px;
    height: 80px;
    justify-self: center;
    margin: 1rem;
}

.icon-container img {
    object-fit: cover;
    width: 100%;
    height: auto; 
}

.horizontal, .vertical {
    color: #000832;
    border-radius: 4px;
    display: grid;
    background-color: #b2cad2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    margin: 1.5rem; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;

}

.horizontal img, .vertical img {
    grid-column: 1;
    grid-row: 1 / 3;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.horizontal h2, .vertical h2 {
    grid-column: 2;
    grid-row: 1;
    box-shadow: none;
}

.horizontal button, .vertical button {
    margin: 1.5rem; 
}


/***************************** footer ******************************************/

footer {
    padding: 1rem 10px;
    text-align: center;
    color:#ffffff;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.social a {
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
    color: #000832;
}

.social a:active {
    transform: translateY(0);      
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
