/* 
Primary dark color: Prussian Blue       #000832
Primary medium color: Gray Slate        #435f69
Primary light color: Pale Sky           #b2cad2
Secondary dark color: Chocolate Plum    #6c4a48

Secondary light color: Cotton Rose      #ecc9c7
Background color: Onyx                  #141414
Text color: white or onyx               #ffffff
Font Family: ___Using Noto Sans from Google fonts 
    */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* {box-sizing: border-box;}

body {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    color: #141414;
    background: linear-gradient(
    to bottom,
    #000832, 91%,
    #435f69, 99%,
    #ecc9c7
  );
    padding: 2%;
    min-height: 20rem;
}


/***************************** header ****************************/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px 10px 5px 10px;
    align-items: end;
    column-gap: 8px;
    color: #ffffff;
}

header img {
    place-self: start;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    place-self: start;
}

/***************************** hamburger navigation *****************************************/

.hamburger {
    display: flex;
    background: #ecc9c7;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
    place-self: start;
}

.hamburger:hover {
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px);  
}

.hamburger:active {
    transform: translateY(0);         
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
}

/***************************************** navigation ***********************************************/

.navigation {
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation.show ul {
    flex-direction: column;
    align-items: flex-end;
}

.navigation a {
    display: flex;
    color: #141414;
    text-decoration: none;
    background: #ecc9c7;
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.2rem;
    margin: .5rem 0 0 0;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
}

.navigation a.current {
    background: #ffffff;
}

.navigation a:hover {
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px);  
}

.navigation a:active {
    transform: translateY(0);         
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.navigation.show a { 
    min-width: 150px;
}

/************************* H1 ***************************************8*/

h1 {
    padding-left: 1rem;
    padding-bottom: .2rem;
    border-radius: 4px; 
    background-color: #b2cad2;
    font-size: 1.5rem;
}

/* h2 {
    border-radius: 4px; 
    background-color: #b2cad2;
    padding: 0.5rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-size: 1rem;
    font-weight: 600;
    width: auto;
    margin: 1rem auto;
} */


/* ****************toggle buttons for list and grid directory********************* */

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#list-btn, #grid-btn {
    display: flex;
    background: #ecc9c7;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 13px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0 1rem 1rem;
}

#list-btn:hover, #grid-btn:hover, .hero-btn:hover {
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px);   
}

#list-btn:active, #grid-btn:active {
    transform: translateY(0);      
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

/* *************************this is how to wrap the cards and be responsive to screen size without expanding beyond the viewport */

#directory-container ul {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.grid, .forecast-weather-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 0.75rem;
}

/****************** styling for all cards */

.card {
    background: #ffffff;
    color: #141414;
    border-radius: 4px;
    padding: 1.25rem;
    border: 2px solid #b2cad2;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    justify-content: space-between;
}

.card .name {
    text-align: center;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #b2cad2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-size: 1.1rem;
    font-weight: 600;
}

.card p {
    margin: 0;
    line-height: 1.4;
    font-size: 0.9rem;
}

.card a {
    color: #435f69;
    font-weight: 600;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.badge-phone-block {
    display: flex;
    justify-content: space-between;
}

/* *********************** image in card************* */

.image {
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 0 0px 12px rgba(0,0,0,0.20);
}

/* *************************this is how to wrap the list and be responsive to screen size without expanding beyond the viewport */

.list ul {
    background-color: #ffffff;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/****************** styling for all lines in the list *************/

.line  {
    display: flex;
    margin: 0;
    line-height: 1.4;
    font-size: 0.9rem;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.line > .name { flex: 1; }
.line > .address { flex: 2; }  
.line > .phone { flex: 1.5; }   
.line > a { flex: 1; }


.line:nth-child(odd) {
    background-color: #d2e1e6;   
}

.line:nth-child(even) {
    background-color: #ffffff;   
}

.line .name {
    font-size: 1.1rem;
    font-weight: 600;
}

.line .name-block {
    width: 400px;
}

.line a {
    color: #4f647d;
    font-weight: 600;
    text-decoration: none;
}

.line a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* ******************* badge for membership level ********************************* */

.badge {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0 auto;
    text-align: center;
    width: 75px;
}

.badge.member, .s-badge.member {
    background: #E8E5D9;
    /* border: 1px solid #69675c; */
}

.badge.silver, .s-badge.silver {
    background: #EBEBEB;
    /* border: 1px solid #606060; */
}

.badge.gold, .s-badge.gold {
    background: #F4EDCD;
    /* border: 1px solid #6b6857; */
}

/* ********************hero call to action ************************************* */

.hero {
    position: relative;
}
.hero-img {
    width: 100%;
    border-radius: 5px; 

}
.hero-btn {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    text-align: center;
    background-color: #ecc9c7;
    color: #000832;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 13px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.1rem;
 }

/* **************************current container**************************** */

.current {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 4px;
}

.current-weather, .current-events {
    margin-left: 1rem;
    margin-right: 1rem;
}

.current h2 {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #b2cad2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-size: 1rem;
    font-weight: 600;
    width: auto;
    margin: 1rem auto;
}

.weather-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding-bottom: 10px;  
    margin: 1rem;
}

.weather-date {
    grid-column: 1 / 3;
    margin: 0;
    text-align: center;;
}

.weather-temp {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    justify-self: end;
    margin: 0;
}

.weather-icon {
    grid-column: 2;
    grid-row: 2;
    width: 3rem;;
    height: 3rem;
    justify-self: start;
    align-self: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    background-color: #b2cad2;
    border-radius: 4px;
}

.weather-caption-description {
    grid-column: 1 / 3;
    text-align: center;
}

/* **********************************forecast weather******************** */
.three {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
}
.forecast-weather-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 0.75rem;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 4px;
}




.three h2 {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #b2cad2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-size: 1rem;
    font-weight: 600;
    width: auto;
    margin: 0 auto;
}

/* *********************spotlight********************* */

.spotlights-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 0.75rem;
}

/****************** styling for all cards */

.s-card {
    background: #ffffff;
    color: #141414;
    border-radius: 4px;
    padding: 1.25rem;
    /* border: 2px solid #b2cad2; */
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* box-shadow: 0 4px 10px rgba(0,0,0,0.08); */
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    justify-content: space-between;
}

.s-card .s-name {
    text-align: center;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #b2cad2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-size: .9rem;
    font-weight: 600;
}

.s-card p {
    margin: 0;
    line-height: 1.4;
    font-size: 0.9rem;
}

.s-card a {
    color: #435f69;
    font-weight: 600;
    text-decoration: none;
}

.s-card a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.s-image {
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 0 0px 12px rgba(0,0,0,0.20);
}

.s-card .s-badge {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0 auto;
    text-align: center;
    width: 65px;
}


/* ***************** join form ******************************************* */

.join-form fieldset {
    margin: 1rem 0;
    border: none;
    border-radius: 6px;
    padding: .5rem 2%;
}

.join-form label {
    display: block;
    padding-top: 1rem;
    color: #ecc9c7;
}

.join-form div {
    padding-top: .5rem;
    color: #ffffff;
    font-size: .9rem;
}

.join-form input[type="text"],
.join-form input[type="tel"],
.join-form input[type="email"],
.join-form input[type="number"] {
    background-color: #ffffff;
    display: block;
    border: solid 1px #435f69;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    margin-top: 1%;
    font-size: 1rem;
}

.join-form textarea {
    background-color: #ffffff;
    display: block;
    border: solid 1px #435f69;
    border-radius: 8px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    margin-top: 1%;
    font-size: 1rem;
    font-family: "Noto Sans", sans-serif;
}

.join-form input[type="radio"] {
    margin-right: 6px;
    border: 2px solid #b2cad2;

}
.join-form input[type="submit"]{
    border: 2px solid #b2cad2;
    background-color: #ecc9c7;
    color: #141414;
    border-radius: 8px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 2% 2% 2rem 2%;
    box-shadow: 1px 1px 4px #435f69;
    font-weight: 700;
    font-size: 1.2rem;
}
.join-form input:hover[type="submit"]{
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px);  
}

.join-form input:required {
    border-left: solid 8px #ecc9c7;
}
.join-form textarea:required {
    border-left: solid 8px #ecc9c7;
}

.join-form input:required:valid {
    border-left: solid 8px #b2cad2;
}
.join-form textarea:required:valid {
    border-left: solid 8px #b2cad2;
}

/************ animated container******************************************** */





/****************** styling for animated cards */


.animatedCard {
    background:  #E8E5D9;
    color: #141414;
    border-radius: 60px;
    padding-bottom: 1.25rem;
    border: 2px solid #b2cad2;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    justify-content: space-between;
    margin: 1rem;
    /* max-width: 75%; */
}

.animatedCard .name {
    text-align: center;
  
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 00;
}

.animatedCard p {
    margin: 0;
    line-height: 1.4;
}

.learnMore {
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    color: #141414;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.18);

}

#np{
    background: #E8E5D9;
}
    /* border: 1px solid #69675c; */
#bronze{
    background: #e8dbd9;
    /* border: 1px solid #69675c; */
}

 #silver {
    background: #dbdbdb;
    /* border: 1px solid #606060; */
}

#gold {
    background: #F4EDCD;
}
    /* border: 1px solid #6b6857; */


/***************************** footer ******************************************/

footer {
    padding: 1rem 10px;
    text-align: center;
    color:#ffffff;
}


.social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #ecc9c7;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px); 
}

.social a:active {
    transform: translateY(0);      
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
