/* 
Primary dark color: Prussian Blue       #000832
Primary medium color: Blue Slate        #4f647d
Primary light color: Pale Sky           #b2cad2
Secondary dark color: Chocolate Plum    #6c4a48
Secondary medium Color: Dusty Rose      #d58a86
Secondary light color: Cotton Rose      #ecc9c7
Background color: Onyx                  #141414
Text color: white or onyx               #ffffff
Font Family: ___Using Noto Sans from Google fonts 
    */

body {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    color: #141414;
    background-color: #000832;
}

/***************************** header ****************************/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px 10px 5px 10px;
    align-items: end;
    column-gap: 8px;
    color: #ffffff;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
}

/***************************** hamburger navigation *****************************************/

.hamburger {
    display: flex;
    background: #ecc9c7;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
}

.hamburger:hover {
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px);  
}

.hamburger:active {
    transform: translateY(0);         
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
}

/***************************************** navigation ***********************************************/

.navigation {
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation.show ul {
    flex-direction: column;
    align-items: flex-end;
}

.navigation a {
    display: flex;
    color: #141414;
    text-decoration: none;
    background: #ecc9c7;
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.2rem;
    margin: .5rem 0 0 0;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
}

.navigation a.current {
    background: #ffffff;
}

.navigation a:hover {
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px);  
}

.navigation a:active {
    transform: translateY(0);         
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.navigation.show a { 
    min-width: 150px;
}

/************************* H1 ***************************************8*/

h1 {
    padding-left: 1rem;
    padding-bottom: .2rem;
    border-radius: 4px; 
    background-color: #b2cad2;
}

/* ****************toggle buttons for list and grid directory********************* */

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#list-btn, #grid-btn {
    display: flex;
    background: #ecc9c7;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 13px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0 1rem 1rem;
}

#list-btn:hover, #grid-btn:hover {
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px);   
}

#list-btn:active, #grid-btn:active {
    transform: translateY(0);      
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

#directory-container ul {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* *************************this is how to wrap the cards and be responsive to screen size without expanding beyond the viewport */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 0.75rem;
}

/****************** styling for all cards */

.card {
    background: #ffffff;
    color: #141414;
    border-radius: 4px;
    padding: 1.25rem;
    border: 2px solid #b2cad2;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    justify-content: space-between;
}

.card .name {
    text-align: center;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #b2cad2;
    border: 1px solid #4f647d;
    font-size: 1.1rem;
    font-weight: 600;
}

.card p {
    margin: 0;
    line-height: 1.4;
    font-size: 0.9rem;
}

.card a {
    color: #4f647d;
    font-weight: 600;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.badge-block {
    display: flex;
    justify-content: space-between;
}

/* *********************** image in card************* */

.image {
    border-radius: 4px;
    border-style: solid;
    border-color: #4f647d;
    border-width: 1px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.20);
}

/* *************************this is how to wrap the list and be responsive to screen size without expanding beyond the viewport */

.list ul {
    background-color: #ffffff;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/****************** styling for all lines in the list *************/

.line  {
    display: flex;
    margin: 0;
    line-height: 1.4;
    font-size: 0.9rem;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.line > .name { flex: 1; }
.line > .address { flex: 2; }  
.line > .phone { flex: 1.5; }   
.line > a { flex: 1; }


.line:nth-child(odd) {
    background-color: #f9efee;   
}

.line:nth-child(even) {
    background-color: #ffffff;   
}

.line .name {
    font-size: 1.1rem;
    font-weight: 600;
}

.line .name-block {
    width: 400px;
}

.line a {
    color: #4f647d;
    font-weight: 600;
    text-decoration: none;
}

.line a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ******************* badge for membership level ********************************* */

.badge {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0 auto;
    text-align: center;
    width: 65px;
}

.badge.member {
    background: #E8E5D9;
    border: 1px solid #69675c;
}

.badge.silver {
    background: #EBEBEB;
    border: 1px solid #606060;
}

.badge.gold {
    background: #F4EDCD;
    border: 1px solid #6b6857;
}

/***************************** footer ******************************************/

footer {
    padding: 1rem 10px;
    text-align: center;
    color:#ffffff;
}


.social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    box-shadow: 0 0 20px 10px #68865522;
    background-color: #ecc9c7;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s ease;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background: linear-gradient(90deg, #ecc9c7, #ffffff);
    transform: translateY(-2px); 
}

.social a:active {
    transform: translateY(0);      
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
