@media screen and (min-width: 640px) {
    /* Larger screen styles go here */
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }
    
    .navigation {
        display: block;
        margin-top: 2%;
    }

    .navigation ul {
        display: flex;
    }

    .navigation ul li {
        flex: 1 1 100%;
    }

    main {
    padding: 1.5% 0;
    }

	h1 {
		font-size: 2rem;
	}

	p {
		font-size: larger;
	}

    .hero-btn {
        font-size: 1.3rem;
    }
    .current {
        flex-wrap: none;
    }
    .current h2, .three h2 {
        font-size: 1.2rem;
    }

    .weather-temp {
        font-size: 2rem;
    }

    .weather-icon {
        width: 80px;
        height: 80px;
    }

    .weather-caption-description {
        font-size: larger;
    }

    #join-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #animatedContainer {
        display: flex;
        flex-direction: column;
        
    }
}
