/* *************************   Larger screen styles go here */
@media screen and (min-width: 640px) {

    header, main, nav, footer, .hero {
        max-width: 900px;
        margin: 1rem auto;
    }

    .damion-regular {
        padding: 30px 100px;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger{
        display: none;
    }
    
    .navigation, .icon-image {
        display: block;
        margin-top: 2%;
    }
    
    .navigation ul,
    .navigation.show ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .navigation ul li {
        flex: 1;
        min-width: 0;
    }

	h1 {
		font-size: 2rem;
	}

    .hero-btn {
        font-size: 1.3rem;
    }

    .started {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .add {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "item1 item2 item3"
    }

    #spotlights-container {
        display: grid;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        gap: 0rem;
        grid-template-areas:
            "item1 item0"
            "item1 item2"
            "item3 item2"
            "item3 item4"
            "item5 item4"
    }

    .vertical, .horizontal {
        display: flex;
        flex-direction: column;
    }

    .horizontal h2, .vertical h2 {
        font-size: 1.5rem;
        padding: 1rem 2rem 0rem
    }

    .horizontal button, .vertical button {
        margin: 0 1.5rem 1.5rem; 
        min-height: 5rem;
        padding: 0 2rem;
    }

    dialog .story-title {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    #spotlights-container img:hover {
        filter: brightness(1.25);
    }

    .icon-container { 
        width: 140px;
        height: 140px;
        justify-self: center;
    }

    .icon-container img {
        object-fit: cover;
        width: 100%;
        height: auto; 
    }

    .rose-bloom, .rose-bud {
        display: block;
        margin: 3rem 0;
    }

    .rose-bloom {grid-area: item5;}
    .rose-bud {grid-area: item0;}

    .recipe-card {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows:  2fr;
        grid-template-areas:
        "item1 item2"
        "item3 item3";
    }

    .tags { 
        display: block;
        grid-area: item3;
    }

    .card-div {grid-area: item2}
    .recipe-card .img {grid-area: item1} 
}

/* *****************  responsive title row */
@media screen and (max-width: 725px) {

    .icon-image-right {
        display: none;
    }

    header .title-row{
        grid-template-columns: 1fr;
    }
}

/* *********************** 850 switch *************************** */
@media screen and (min-width: 850px) {

    #spotlights-container {
        grid-template-columns: (3, 1fr);
        grid-template-rows: (3, 1fr);
        grid-template-areas:
            "item1 item1 item2"
            "item4 item0 item2"
            "item4 item3 item3";
        padding-bottom: 1rem;
    }

    .rose-bloom {
        display: none;
    }
    
    .rose-bud {
        margin: 2rem 3rem;
    }

    .vertical {
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
    }

    .horizontal {
        display: grid;
        margin: 1.5rem; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }

    .vertical button {
        min-height: 5rem;
    }

    .horizontal h2, .vertical h2 {
        font-size: 1.5rem;
        padding: 1rem 2rem 0rem
    }
}